<%- include('includes/head', { pageTitle: 'An Error Occured'}) %>
</head>
<body>

<%- include('includes/header') %>

<main>
    <h1>Couldn't find resource!</h1>
    <p>Unfortunately, Resource not found!</p>
    <p><a class="btn" href="/">Back to safety!</a></p>
    </form>
</main>

<%- include('includes/footer') %>